<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Brainvire_Core::configuration" title="Store Locator">
                    <resource id="Brainvire_StoreLocator::configuration" title="Store Locator" sortOrder="10">
                        <resource id="Brainvire_StoreLocator::stores" title="Stores" sortOrder="10" />
                        <resource id="Brainvire_StoreLocator::categories" title="Categories" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>