<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogRule\Model\Indexer\ProductPriceCalculator" type="Brainvire\KeyCustomization\Model\Indexer\ProductPriceCalculator"/>
    <preference for="Magento\CatalogRule\Model\Rule\Action\Product" type="Brainvire\KeyCustomization\Model\Rule\Action\Product"/>
    <preference for="Magento\CatalogRule\Model\Rule\Action\SimpleActionOptionsProvider" type="Brainvire\KeyCustomization\Model\Rule\Action\SimpleActionOptionsProvider"/>
    <preference for="Magento\CatalogRule\Model\Rule" type="Brainvire\KeyCustomization\Model\Rule"/>
</config>
