<tr class="custom-shipping-method-fields-shipping-information" data-bind="visible: selectedMethod() == 'storepickupmethod_storepickupmethod'" >
	<td colspan="4">
		<div id="my-carrier-custom-block-wrapper" >
			<form data-mage-init='{"validation": {}}' class="form" id="store_address_form" method="post" autocomplete="off" data-role="store_address_form">
				<div class="field _required">   
					<div class="control">
						<select data-validate="{'required-entry':true}" name="store_address" id="store_address" data-bind="options: availableAddresses(),optionsValue: 'source_code' , optionsText: 'name'"></select>
					</div>
				</div>
			</form>
		</div>
	</td>
</tr>


