<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="stocksourceimport" frontName="stocksourceimport">
            <module name="Brainvire_StockSourceImport"/>
        </route>
        <route id="sourceimportlog" frontName="sourceimportlog">
            <module name="Brainvire_StockSourceImport"/>
        </route>
    </router>
</config>
