<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storepickup>
            <general>
                <template>storepickup_general_template</template>
            </general>
        </storepickup>
        <carriers>
            <storepickupmethod>
                <enable>1</enable>
                <sallowspecific>0</sallowspecific>
                <model>Brainvire\StorePickupMethod\Model\Carrier\Shipping</model>
                <name>Store Pickup Method</name>
                <price>10.00</price>
                <title>Custom Sample Shipping Method</title>
                <type>I</type>
                <specific_error_msg>This shipping method is not available. To use this shipping method, please contact us.</specific_error_msg>
            </storepickupmethod>
        </carriers>
        
    </default>
</config>
